* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  padding: 0 15px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

@media (min-width: 796px) {
  .container {
    width: 90%;
  }

  .add-item-form > div:nth-child(3) > div {
    min-width: 50%;
  }

}

@media (min-width: 1025px) {
}